<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">

  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>


<body>

  <div class="container text-center centrify" id="radioapp">
    <div class="col-md-8 offset-md-2 text-center card">


      <div id="radiola-title" class="jumbotron jumbotron-fluid">
        <h2 class="display-4">Radiola</h2>
        <p class="lead">A superb tool for searching radio.de streams and making .m3u playlists</p>
      </div>

      <div class="button-array btn-group btn-group-toggle" data-toggle="buttons">

        <label class="btn btn-outline-dark active">
           <input type="radio" name="options" value="station" v-model="searchMode" name="options" id="optionStation" autocomplete="off"> Station Name
         </label>
         <label class="btn btn-outline-dark">
           <input type="radio" name="options" value="genre" v-model="searchMode" id="optionGenre" autocomplete="off"> Genre
         </label>
         <label class="btn btn-outline-dark">
           <input type="radio" name="options" value="recommended" v-model="searchMode" id="optionRecommended" autocomplete="off"> Recommended
         </label>

    </div>
          <div> VALUEEEEE:  {{searchMode}}</div>

      <div class="input-group">
        <input id="search-term" type="text" class="form-control centrify" name="search-term" v-on:keyup.enter="onSearchEnter" v-model="searchTerm">
      </div>

      <hr>

      <div>
        <h3>Results</h3>
      <hr>
        <!-- Make js return data based on request -->
        <!-- <div>Enter a search term...</div> -->
        <div>
          <table class="table table-striped">
          <tbody>
                <tr class="centrify">
                  <th>No.</th>
                  <th class="centrify">Name</th>
                  <th class="centrify">Genres</th>
                  <th class="centrify">Current Track</th>
                  <th class="centrify">Play</th>
                </tr>

                <tr v-for="(item, index) in stations">
                  <td>{{index + 1}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.genres}}</td>
                  <td>{{item.currentTrack}}</td>
                  <td>
                <audio controls>
                    <source :src="item.streamurl" type="audio/mpeg">
                </audio>
                  </td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <script src="js/vendor/vue-2.5.16.js"></script>
  <script src="js/vendor/modernizr-3.6.0.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/main.js"></script>

</body>

</html>
